In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 21:11:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.version

'3.5.0'

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 21:15:36--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240305T021537Z&X-Amz-Expires=300&X-Amz-Signature=cb278d4d99ce83d27a80881edf8c6a3bcc10ecd13514f150eb2d9afd5fdfaf3a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 21:15:37--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240305T021537Z&X-Amz-Expires=300&X-Amz-Signature=cb278d4d99ce83d27a80881edf8c6a3bcc10ecd13514f150eb2d9afd5fdfaf3a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  12.8MB/s    in 1.4s

2024-03-04 21:15:39 (12.8 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [6]:
#!gzip -dc fhv_tripdata_2019-10.csv.gz
!gunzip fhv_tripdata_2019-10.csv.gz

In [7]:
!wc -l fhv_tripdata_2019-10.csv

 1897494 fhv_tripdata_2019-10.csv

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [9]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [10]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [11]:
import pandas as pd

In [12]:
df_pandas = pd.read_csv('head.csv')
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [13]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [14]:
from pyspark.sql import types

In [15]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
    ])

In [16]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [17]:
df = df.repartition(6)

In [18]:
df.write.parquet('fhv/2019/10/')

In [37]:
df = spark.read.parquet('fhv/2019/10/')

In [20]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [38]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|     B01711         |2019-10-04 08:30:58|2019-10-04 08:44:01|         252|         252|   NULL|       B01711         |
|              B01944|2019-10-01 19:10:00|2019-10-01 20:43:00|         264|         264|   NULL|                B01944|
|              B02546|2019-10-03 08:42:15|2019-10-03 08:50:44|         264|         126|   NULL|                B02546|
|              B02293|2019-10-04 08:37:38|2019-10-04 11:03:21|          78|         228|   NULL|                B02293|
|              B00256|2019-10-03 20:37:42|2019-10-03 21:34:40|         264|         264|   NULL|                B00256|
|              B00882|2019-10-03 08:03:05|2019-10-03 08:18:15|         264|         254|   NULL|                B00882|
|              B01391|2019-10-03 01:26:00|2019-10-03 01:40:00|         264|         264|   NULL|                B01391|
|              B02249|2019-10-01 11:09:08|2019-10-01 11:14:05|         264|         173|   NULL|                B02249|
|              B00009|2019-10-03 17:15:00|2019-10-03 17:31:00|         264|         264|   NULL|                B00009|
|              B00887|2019-10-03 21:29:55|2019-10-03 21:50:51|         264|         239|   NULL|                B00887|
|              B01231|2019-10-01 11:06:17|2019-10-01 11:12:59|         264|          76|   NULL|                B02883|
|              B02715|2019-10-03 15:36:14|2019-10-03 16:36:32|         138|         230|   NULL|                B02835|
|              B01308|2019-10-02 17:42:00|2019-10-02 17:46:00|         264|         264|   NULL|                B01308|
|              B00837|2019-10-02 18:17:57|2019-10-02 18:38:20|         264|         264|   NULL|                B00837|
|              B01145|2019-10-03 16:46:38|2019-10-03 17:12:32|         264|         212|   NULL|                B01145|
|              B01259|2019-10-03 10:14:06|2019-10-03 10:47:43|         264|          26|   NULL|                B01259|
|              B01338|2019-10-04 11:33:05|2019-10-04 11:54:57|         264|          32|   NULL|                B01338|
|              B01984|2019-10-03 14:26:00|2019-10-03 14:44:00|         264|          22|   NULL|                B01984|
|              B00887|2019-10-04 11:29:42|2019-10-04 12:16:11|         264|         170|   NULL|                B00887|
|              B00369|2019-10-01 05:33:00|2019-10-01 05:51:00|         264|         264|   NULL|                B00369|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [42]:
from pyspark.sql.functions import to_date, col, unix_timestamp, count

In [24]:
df_filtered = df.filter(to_date(col('pickup_datetime'))=='2019-10-15')

In [25]:
df_filtered.count()

62610

In [27]:
df = df.withColumn(
    "diff_seconds", 
    unix_timestamp(col("dropOff_datetime")) - unix_timestamp(col("pickup_datetime"))
)

In [33]:
df.orderBy(col("diff_seconds").desc()).select('diff_seconds').head()[0]/3600

631152.5

In [34]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-04 22:42:25--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.210.96, 52.216.49.112, 54.231.225.240, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.210.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.002s

2024-03-04 22:42:26 (6.63 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [35]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [40]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [41]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [43]:
df_result = df.join(df_zones, df.PUlocationID == df_zones.LocationID)

In [44]:
grouped_df = df_result.groupBy("Zone").count()

In [45]:
grouped_df.show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|           Homecrest| 1295|
|              Corona| 7175|
|    Bensonhurst West| 1880|
|         Westerleigh| 1317|
|Charleston/Totten...| 2533|
|      Newark Airport| 2532|
|          Douglaston|  291|
|          Mount Hope| 3973|
|East Concourse/Co...| 3294|
|      Pelham Parkway| 1522|
|         Marble Hill|  116|
|           Rego Park| 1697|
|Upper East Side S...| 2358|
|Heartland Village...| 1054|
|       Dyker Heights|  690|
|   Kew Gardens Hills|  906|
|     Jackson Heights|10952|
|             Bayside| 2547|
|      Yorkville West|  840|
|TriBeCa/Civic Center| 1918|
+--------------------+-----+
only showing top 20 rows

In [46]:
grouped_df = grouped_df.orderBy(col("count").asc())

In [47]:
grouped_df.show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|         Jamaica Bay|    1|
|Governor's Island...|    2|
| Green-Wood Cemetery|    5|
|       Broad Channel|    8|
|     Highbridge Park|   14|
|        Battery Park|   15|
|Saint Michaels Ce...|   23|
|Breezy Point/Fort...|   25|
|Marine Park/Floyd...|   26|
|        Astoria Park|   29|
|    Inwood Hill Park|   39|
|       Willets Point|   47|
|Forest Park/Highl...|   53|
|  Brooklyn Navy Yard|   57|
|        Crotona Park|   62|
|        Country Club|   77|
|     Freshkills Park|   89|
|       Prospect Park|   98|
|     Columbia Street|  105|
|  South Williamsburg|  110|
+--------------------+-----+
only showing top 20 rows